*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/
/artifacts/
*.jks
*.keystore
keystore.properties
*.apk
*.zip
*.pdf
/output/pdf/
output/pdf/
/tmp/
tmp/
